body {
  background-image: linear-gradient(white, pink, white);
  color: black;
    font-family: Arial, Hevetica, sans-serif;
  margin: 10% 10%;
  max-width: 800px;
}

.exp-header {
  text-align: center;
  text-transform: uppercase;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 3px;
  margin-bottom: px; 
}

.bio {
  font-size: 14px;
  font-family: Arial,  Helvetica, sans-serif;
}

.phone {
  margin-bottom: 1px;
}

.address {
  margin-top: 1px;
}

.statement {
  font-size: 13px;
  margin-top: 15px;
  margin-bottom: 15px;
}

h1{

  border-bottom: 1px solid grey; 
}

.picture{
  width:180px
}

h4, h5, h6 {
  margin-bottom: 1px;
  margin-right: 50px;
}

h5, h6 {
  margin-top: 1px;
}

aside {
  float: right;
}


















