body {
  background-image: linear-gradient(white, pink, white);
  color: black;
    font-family: Arial, Hevetica, sans-serif;
  margin: 10% 10%;
  max-width: 600px;
}

.exp-header {
  text-align: center;
  text-transform: uppercase;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  font-family: Arial, Helvetica, sans-serif;
}

.bio {
  font-size: 14px;
  font-family: Arial,  Helvetica, sans-serif;
}

.phone {
  margin-bottom: 1px;
}

.address {
  margin-top: 1px;
}

.statement {
  font-size: 13px;
  margin-top: 15px;
  margin-bottom: 15px;
}

h1{
  background-color: rgba(0,0,0,0.1)
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd; 
}

.picture-container {
  width:200px;
  float: Right
}

.picture{
  width:200px
}

h4, h5, h6 {
  margin-bottom: 1px;
}

h5, h6 {
  margin-top: 1px;
}




